<configuration>
  <appender name="journal" class="org.gnieh.logback.SystemdJournalAppender" />
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender" />

  <root level="info">
    <!-- <appender-ref ref="journal" /> -->
    <appender-ref ref="console" />
  </root>
</configuration>